<!DOCTYPE html>
<html ng-app="votingApp">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    
    <script type="text/javascript" src="front-end/mainController.js"></script>
    <script type="text/javascript" src="front-end/votingController.js"></script>
</head>
<body ng-controller="mainController" style="background-color: black; color: white">
   
    <nav class="navbar navbar-default navbar-fixed-top text-center" role="navigation">
        <div class="container-fluid">
            <div class="nav-bar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="fasle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="active" href="./">
                        <span class="glyphicon glyphicon-print"></span> Vote!
                    </a>
                </li>
                <li>
                    <a class="active" ng-click="standingsPage()" href="">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Standings
                    </a>
                </li>
                <li>
                    <a class="active" href="./add">
                        <span class="glyphicon glyphicon-plus"></span> Add Pic
                    </a>
                </li>
                <li>
                    <form class="new-user" action="./reset" method="post">
                            <!-- <span class="glyphicon glyphicon-user space"></span> -->
                        <input class="user-input" type="submit" value="New User" style="margin-top: 12px;" />
                    </form>
                </li>
                <li>
                    <form class="new-user" action="reset" method="post">
                            <!-- <span class="glyphicon glyphicon-refresh space"></span> -->
                        <input class="user-input" type="submit" value="Reset Images" style="margin-top: 12px;" />
                    </form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
 
    <div id="voting-wrapper" class="col-sm-offset-3" style="margin-top: 50px">
        <div class="col-sm-8 text-center">
            <h1>Electric or Not!</h1>
            <img src="public/images/{{imageSrc}}" style="height: 400px; width: 100%">
            <div id="button-holder" class="col-sm-12" style="padding: 0;">
                <div class="col-sm-6 text-left" style="padding: 0;">
                    <form class="vote-button" action="electric" method="post">
                        <input type="hidden" name="photo" value="<%= carImage.imageSrc %>">
                        <input type="submit" name="submit" class="btn btn-info" value="Electric!">
                    </form>
                </div>
                <div class="col-sm-6 text-right" style="padding: 0;">
                    <form class="vote-button" action="notElectric" method="post">
                        <input type="hidden" name="photo" value="<%= carImage.imageSrc %>">
                        <input type="submit" name="submit" class="btn btn-info" value="Not Electric!">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12" style="margin-top: 50px;">
        <div ng-repeat="image in theStandings" style="float: left; font-size: 25px; text-align: center">
                <img ng-src="public/images/{{image.imageSrc}}" style="height: 200px; width: 350px; margin: 15px 50px">
                <p>Votes: {{image.totalVotes}}</p>
        </div>
    </div>

</body><!-- public/images/{{image}} -->
</html>


