
<% include head %>
<header>
<% include nav %>
</header>
<body>
<div id="photos-wrapper" class="text-center">
	<h1>A node.js voting game - is it electric?</h1>
	<div id="photo"class="text-center">
		<img src="images/<%= carImage.imageSrc %>">
	</div>

	<div id="button-holder">
		<form class="vote-button" action="./electric" method="post">
			<input type="hidden" name="photo" value="<%= carImage.imageSrc %>">
			<input type="submit" name="submit" class="btn btn-info" value="Electric!">
		</form>
		<form class="vote-button" action="./notElectric" method="post">
			<input type="hidden" name="photo" value="<%= carImage.imageSrc %>">
			<input type="submit" name="submit" class="btn btn-info" value="Not Electric!">
		</form>
	</div>
</div>

</body>

<% include footer %>