/* line 1, ../../compass/sass/_index.scss */
body {
  background-color: black;
  color: white;
}

/* line 7, ../../compass/sass/_index.scss */
img {
  height: 350px;
  width: auto;
}

/* line 1, ../../compass/sass/_nav.scss */
.navbar {
  color: black;
}
